@layout('layout/app')

@section('content')

<h1>Este site ainda está em produção...</h1>
<h2>Os grandes gênios por trás desta impressionante empreitada são:</h2>

<ul>
  <li>Daniel Batista Morais</li>
  <li>Filipe Pereira Freitas</li>
  <li>Luiz Gustavo Nunes</li>
</ul>

<a href="/">←Voltar</a>
@endsection