@layout('layout/app')

@section('content')
  <h1>BEM VINDO AO MEGA SORTEADOR</h1>
  <h2>↓Acesse o link abaixo para mais informações↓</h2>
    <a href="{{route('/about')}}">Mais Informações</a>
@endsection