@layout('layout/app')

@section('content')
  <h1>BEM VINDO AO MEGA SORTEADOR</h1>
  <h2>Essa aplicação é sobre um sorteador de rifas online!</h2>
  <h3>↓Acesse o link abaixo para mais informações↓</h3>
    <a href="{{ route('about') }}" class="btn btn-primary">Mais Informações</a>
@endsection
